<h2 style="text-align: center;">Alterar Senha</h2>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div style="display: flex; flex-direction: row; align-items: center; border: 1px solid #ddd; padding: 40px; border-radius: 8px; background-color: #f9f9f9; width: 80%; max-width: 1200px;">

    <!-- Formulário de Alteração de Senha -->
    <div style="flex: 2;">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, "Nova senha" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres no mínimo)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", style: 'width: 90%; padding: 10px' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirme a nova senha" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", style: 'width: 90%; padding: 10px' %>
        </div>

        <div class="actions">
          <%= f.submit "Alterar senha", style: 'width: 100%;' %>
        </div>
      <% end %>
    </div>

    <!-- Logo da Prefeitura -->
    <div style="flex: 1; display: flex; justify-content: center; margin-left: 20px;">
      <%= image_tag 'logoprefeitura.jpg', alt: 'Logo da Prefeitura', style: 'max-width: 100%; height: auto;' %>
    </div>
  </div>
</div>
