<h2 style="text-align: center;">Esqueceu sua senha?</h2>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div style="display: flex; flex-direction: row; align-items: center; border: 1px solid #ddd; padding: 40px; border-radius: 8px; background-color: #f9f9f9; width: 80%; max-width: 1200px;">

    <!-- Formulário de Recuperação de Senha -->
    <div style="flex: 2;">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <% if resource.errors.any? %>
          <div class="error_messages">
            <h2><%= pluralize(resource.errors.count, "erro") %> impediram que o formulário fosse salvo:</h2>
            <ul>
              <% resource.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :email, "E-mail" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", style: 'width: 90%; padding: 10px' %>
        </div>

        <div class="actions">
          <%= f.submit "Enviar instruções para redefinir a senha", style: 'width: 100%;' %>
        </div>

        <!-- Link para voltar ao login -->
        <%= link_to "Voltar ao login", new_session_path(resource_name) %><br />
      <% end %>
    </div>

    <!-- Logo da Prefeitura à Direita -->
    <div style="flex: 1; display: flex; justify-content: center; margin-left: 20px;">
      <%= image_tag 'logoprefeitura.jpg', alt: 'Logo da Prefeitura', style: 'max-width: 100%; height: auto;' %>
    </div>

  </div>
</div>

