<h1>Cargos</h1>

<%= form_with url: cargos_path, method: :get, local: true do %>
  <div class="field">
    <%= label_tag :nome, 'Nome do Cargo' %>
    <%= text_field_tag :nome, params[:nome] %>
  </div>
  <div class="actions">
    <%= submit_tag 'Buscar' %>
  </div>
<% end %>

<%= link_to 'Novo Cargo', new_cargo_path %>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Departamento</th>
      <th>Nível</th>
      <th>Salário Base</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @cargos.each do |cargo| %>
      <tr>
        <td><%= cargo.nome %></td>
        <td><%= cargo.descricao %></td>
        <td><%= cargo.departamento.nome %></td>
        <td><%= cargo.nivel %></td>
        <td><%= number_to_currency(cargo.salario_base) %></td>
        <td><%= cargo.status.humanize %></td>
        <td>
          <%= link_to 'Mostrar', cargo %> |
          <%= link_to 'Editar', edit_cargo_path(cargo) %> |
          <%= link_to 'Excluir', cargo, method: :delete, data: { confirm: 'Tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

