<!-- app/views/funcionarios/new.html.erb -->

<h1> Novo Funcionário </h1>

<%= form_with(model: @funcionario, local: true) do |form| %>
  <div>
    <%= form.label :nome_completo %>
    <%= form.text_field :nome_completo %>
  </div>
  <div>
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :data_nascimento %>
    <%= form.date_field :data_nascimento %>
  </div>
  <div>
    <%= form.label :data_contratacao %>
    <%= form.date_field :data_contratacao %>
  </div>
  <div>
    <%= form.label :salario %>
    <%= form.number_field :salario, step: 0.01 %>
  </div>
  <div>
    <%= form.label :status %>
    <%= form.select :status, Funcionario.statuses.keys.map { |s| [s.humanize, s] } %>
  </div>
  <div>
    <%= form.label :cargo_id, "Cargo" %>
    <%= form.collection_select :cargo_id, Cargo.all, :id, :nome %>
  </div>

  <!-- Campos para endereços -->
  <h2>Endereços</h2>
  <%= form.fields_for :enderecos do |endereco_form| %>
    <div>
      <%= endereco_form.label :rua %>
      <%= endereco_form.text_field :rua %>
    </div>
    <div>
      <%= endereco_form.label :numero %>
      <%= endereco_form.text_field :numero %>
    </div>
    <div>
      <%= endereco_form.label :bairro %>
      <%= endereco_form.text_field :bairro %>
    </div>
    <div>
      <%= endereco_form.label :cidade %>
      <%= endereco_form.text_field :cidade %>
    </div>
    <div>
      <%= endereco_form.label :estado %>
      <%= endereco_form.text_field :estado %>
    </div>
    <div>
      <%= endereco_form.label :cep %>
      <%= endereco_form.text_field :cep %>
    </div>
    <div>
      <%= link_to 'Remover Endereço', '#', class: 'remove_fields' %>
    </div>
  <% end %>

  <div>
    <%= form.submit 'Salvar' %>
  </div>
<% end %>

<%= link_to 'Voltar', funcionarios_path %>
