<h1><%= @cargo.nome %></h1>
<p>
  <strong>Descrição:</strong>
  <%= @cargo.descricao %>
</p>
<p>
  <strong>Departamento:</strong>
  <%= @cargo.departamento.nome %>
</p>
<p>
  <strong>Nível:</strong>
  <%= @cargo.nivel %>
</p>
<p>
  <strong>Salário Base:</strong>
  <%= number_to_currency(@cargo.salario_base) %>
</p>
<p>
  <strong>Requisitos:</strong>
  <%= @cargo.requisitos %>
</p>
<p>
  <strong>Benefícios:</strong>
  <%= @cargo.beneficios %>
</p>
<p>
  <strong>Status:</strong>
  <%= @cargo.status.humanize %>
</p>

<%= link_to 'Voltar', cargos_path %>

