<h1>Funcionários</h1>

<%= form_with url: funcionarios_path, method: :get, local: true do %>
  <div class="field">
    <%= label_tag :nome, 'Nome do Funcionário' %>
    <%= text_field_tag :nome, params[:nome] %>
  </div>
  <div class="field">
    <%= label_tag :departamento_id, 'Departamento' %>
    <%= select_tag :departamento_id, options_from_collection_for_select(Departamento.all, :id, :nome, params[:departamento_id]), include_blank: 'Todos' %>
  </div>
  <div class="field">
    <%= label_tag :data_contratacao_inicio, 'Data de Contratação Início' %>
    <%= date_field_tag :data_contratacao_inicio, params[:data_contratacao_inicio] %>
  </div>
  <div class="field">
    <%= label_tag :data_contratacao_fim, 'Data de Contratação Fim' %>
    <%= date_field_tag :data_contratacao_fim, params[:data_contratacao_fim] %>
  </div>
  <div class="actions">
    <%= submit_tag 'Buscar' %>
  </div>
<% end %>

<div class="centralizado">
  <%= link_to 'Novo Funcionário', new_funcionario_path %>
  <%= link_to 'Menu', selection_path, class: "btn btn-primary" %>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Nome Completo</th>
      <th>Data de Nascimento</th>
      <th>Gênero</th>
      <th>CPF</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Cargo</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
  <% if @funcionarios.present? %>

    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= funcionario.nome_completo %></td>
        <td><%= funcionario.data_nascimento %></td>
        <td><%= funcionario.genero %></td>
        <td><%= funcionario.cpf %></td>
        <td><%= funcionario.rg %></td>
        <td><%= funcionario.telefone %></td>
        <td><%= funcionario.email %></td>
        <td><%= funcionario.cargo.nome %></td>
        <td><%= funcionario.status %></td>
        <td>
          <%= link_to 'Mostrar', funcionario_path(funcionario), class: 'btn btn-info' %>
          <%= link_to 'Editar', edit_funcionario_path(funcionario), class: 'btn btn-warning' %>
          <%= link_to 'Excluir', funcionario_path(funcionario), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
    <% else %>
  <tr>
    <td colspan="X">Nenhum funcionário encontrado</td> <!-- X sendo o número de colunas -->
  </tr>
<% end %>
  </tbody>
</table>


